// Colour Variables
$colour__0: #AAAAAA;
$colour__1: #BBBBBB;
$colour__2: #CCCCCC;
$colour__3: #DDDDDD;
$colour__4: #EEEEEE;

// Font Variables
$font-fam__0: sans-serif;
$font-fam__1: arial;

$font-size__heading: 100px;
$font-size__sub-heading: 50px;
$font-size__field: 20px;